body {
    padding: 5vh 20vw;
    background-color: red;
}

main {
    width: 60vw;
    min-height: 90vh;

    margin: auto;
    padding: 25px;

    border-radius: 10px;
    
    background-color: white;
}

h1, h2 {
    text-align: center;

    margin-bottom: 0;
    padding-bottom: 0;

}

main p {
    text-align: center;

    margin-top: 0;
    padding-top: 0;
}

input[type="submit"] {
    background-color: red;
}

.hidden {
    display: none;
}

.star-cb-group {
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .star-cb-group * {
    font-size: 2.5rem;
  }
  .star-cb-group > input {
    display: none;
  }
  .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 10vw;

    white-space: nowrap;
    cursor: pointer;
  }
  .star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
  }
  .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: red;
    text-shadow: 0 0 1px #333;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: red;
    text-shadow: 0 0 1px #333;
  }